  @font-face {
    font-family: 'SofiaSans-Light';
    src: url("../fonts/SofiaSans-Light.woff2") format("woff2");
    font-style: normal;
  }
  @font-face {
    font-family: 'SofiaSans-Regular';
    src: url("../fonts/SofiaSans-Regular.woff2") format("woff2");
    font-style: normal;
  }
  @font-face {
    font-family: 'SofiaSans-Medium';
    src: url("../fonts/SofiaSans-Medium.woff2") format("woff2");
    font-style: normal;
  }
  @font-face {
    font-family: 'SofiaSans-Bold';
    src: url("../fonts/SofiaSans-Bold.woff2") format("woff2");
    font-style: normal;
  }