
body, input, textarea, option, select, table, form, p, label, a, button, ul, ol, li, span, div, blockquote, ::before, ::after  {
  font-size: inherit;
  line-height: inherit;
  font-family: 'SofiaSans-Regular', sans-serif;
  color: $text-color;
} 
h1, .h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  color: $text-color;  
  font-family: 'SofiaSans-Regular', sans-serif;
  @include  media-sm {
    font-size: 48px;
  }
} 
h2, .h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 112%;
  color: $text-color;
  font-family: 'SofiaSans-Regular', sans-serif;
  @include  media-sm {
    font-size: 36px;
  }
}
h3, .h3  {
  font-size: 36px;
  font-weight: 700;
  line-height: 112%;
  color: $text-color;
  font-family: 'SofiaSans-Regular', sans-serif;
  @include  media-sm {
    font-size: 24px;
  }
}
h4  {
  font-size: 24px;
  font-weight: 500;
  line-height: 112%;
  color: $text-color;
  font-family: 'SofiaSans-Regular', sans-serif;
}
h5  {   
  font-size: 20px;
  font-weight: 500;
  line-height: 112%;
  color: $text-color;
  font-family: 'SofiaSans-Regular', sans-serif;
}
h6  {
  font-size: 18px;
  font-weight: 500;
  line-height: 112%;
  color: $text-color;
  font-family: 'SofiaSans-Regular', sans-serif;
}

p {
  line-height: 124%;
  font-size: 16px;
}
